@charset "UTF-8";
body {
  letter-spacing: 1px;
  color: #333;
}

.wrap {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

a:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

.btn {
  width: 160px;
  font-size: 12px;
  font-family: "Montserrat Medium";
  background-color: #000;
  color: white;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 11px;
  font-weight: bold;
  border-radius: 4px;
}

@media screen and (max-width: 575px) {
  .btn {
    font-size: 11px;
  }
}

.btn:hover {
  opacity: 0.8;
}

.nav {
  background-color: rgba(34, 34, 34, 0.6);
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 44444;
}

.nav .container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.nav .nav-left {
  margin-right: auto;
  padding-top: 30px;
}

@media screen and (max-width: 1199px) {
  .nav .nav-left {
    padding-left: 30px;
  }
}

@media screen and (max-width: 575px) {
  .nav .nav-left {
    padding-left: 15px;
  }
}

.nav .nav-right {
  margin-left: auto;
  display: flex;
  cursor: pointer;
  padding-top: 36px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1199px) {
  .nav .nav-right {
    padding-right: 30px;
  }
}

@media screen and (max-width: 575px) {
  .nav .nav-right {
    padding-right: 15px;
  }
}

.nav .nav-right .nav-button {
  padding-top: 5px;
}

.nav .nav-right .nav-button .nav-button-item {
  background-color: #fff;
  width: 22px;
  height: 2px;
  margin-bottom: 5px;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
}

.nav .nav-right .nav-right-text {
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
  font-family: "Montserrat";
  font-weight: "ExtraBold";
  cursor: pointer;
}

.nav-right.active #nav-button-item1 {
  transform: rotate(45deg) translate(4px, 5px);
}

.nav-right.active #nav-button-item2 {
  opacity: 0;
}

.nav-right.active #nav-button-item3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

.nav-open {
  background-color: rgba(34, 34, 34, 0.6);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 444;
  display: none;
}

.nav-open .nav-wrapper {
  width: 520px;
  margin-left: auto;
  text-align: center;
  background-color: rgba(34, 34, 34, 0.9);
  height: 100vh;
  padding-top: 180px;
}

@media screen and (max-width: 767px) {
  .nav-open .nav-wrapper {
    width: 100%;
  }
}

.nav-open .nav-wrapper .nav-open-icon {
  width: 42px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.nav-open .nav-wrapper .nav-open-icon:hover {
  opacity: .8;
}

.nav-open .nav-wrapper ul a {
  text-decoration: none;
  color: white;
}

.nav-open .nav-wrapper ul a:hover {
  opacity: .8;
}

.nav-open .nav-wrapper ul li {
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-open .nav-wrapper ul li:hover {
  opacity: 0.8;
}

.nav-open.open {
  display: block;
  transition: .2s;
}

.nav-open.close {
  transition: .2s;
  display: none;
}

.top {
  width: 100%;
  margin: 0 auto;
}

.top .container {
  position: relative;
  max-width: 100%;
}

.top .container .top-image {
  position: absolute;
  width: 1100px;
  height: 640px;
  z-index: 1;
  background-image: url(../img/kv-img.png);
}

@media screen and (max-width: 991px) {
  .top .container .top-image {
    width: 600px;
    height: 800px;
    background-image: url(../img/kv-img1.png);
  }
}

@media screen and (max-width: 575px) {
  .top .container .top-image {
    width: 287px;
    height: 580px;
    background-image: url(../img/kv-img2.png);
  }
}

.top .container .top-background-color {
  width: 50%;
  height: 740px;
  background-color: #000;
  margin-left: auto;
  position: relative;
}

@media screen and (max-width: 991px) {
  .top .container .top-background-color {
    width: 70%;
    height: 890px;
  }
}

@media screen and (max-width: 575px) {
  .top .container .top-background-color {
    height: 667px;
    width: 80%;
  }
}

.top .container .top-background-color .top-text-wrapper {
  position: relative;
  z-index: 3;
  color: white;
  top: 20%;
  width: 295px;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .top .container .top-background-color .top-text-wrapper {
    width: 245px;
    top: 37%;
  }
}

@media screen and (max-width: 575px) {
  .top .container .top-background-color .top-text-wrapper {
    top: 28%;
  }
}

.top .container .top-background-color .top-text-wrapper .top-text-lead {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  padding-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .top .container .top-background-color .top-text-wrapper .top-text-lead {
    font-size: 16px;
    font-family: "遊ゴシック";
  }
}

.top .container .top-background-color .top-text-wrapper h1 {
  font-size: 72px;
  font-family: "Montserrat";
  font-weight: ExtraBold;
}

@media screen and (max-width: 991px) {
  .top .container .top-background-color .top-text-wrapper h1 {
    font-size: 56px;
    line-height: 50px;
  }
}

.about {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  background-image: url(../img/about-img.png);
  height: 607px;
  background-size: cover;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: -40px;
}

@media screen and (max-width: 991px) {
  .about {
    height: 479px;
  }
}

@media screen and (max-width: 575px) {
  .about {
    height: 541px;
    background-position: 40% 20%;
  }
}

.about .container {
  z-index: 22;
  position: absolute;
}

.about .container .about-text-wrapper {
  width: 590px;
  height: 387px;
  background-color: rgba(255, 255, 255, 0.95);
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 30px;
  margin-top: 110px;
  margin-left: 50px;
}

@media screen and (max-width: 991px) {
  .about .container .about-text-wrapper {
    margin: 0 auto;
    margin-top: 60px;
    height: 359px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 575px) {
  .about .container .about-text-wrapper {
    width: 90%;
    height: 441px;
    padding-right: 15px;
    line-height: 24px;
    padding-top: 30px;
    height: 100%;
    padding-bottom: 30px;
  }
}

.about .container .about-text-wrapper h2 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: ExtraBold;
  padding-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .about .container .about-text-wrapper h2 {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {
  .about .container .about-text-wrapper h2 {
    font-size: 28px;
  }
}

.about .container .about-text-wrapper .about-text-lead {
  font-family: san-serif;
  line-height: 32px;
  padding-bottom: 30px;
  color: #333;
}

@media screen and (max-width: 991px) {
  .about .container .about-text-wrapper .about-text-lead {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {
  .about .container .about-text-wrapper .about-text-lead {
    font-size: 14px;
    font-family: "遊ゴシック体";
    font-weight: Medium;
    letter-spacing: 0px;
  }
}

.works-culture-wrapper {
  background-color: #f0f0f0;
  padding-bottom: 60px;
}

@media screen and (max-width: 991px) {
  .works-culture-wrapper {
    padding-bottom: 0;
  }
}

.works-culture-wrapper .container {
  display: flex;
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .works-culture-wrapper .container {
    display: block;
    padding-top: 60px;
  }
}

.works-culture-wrapper .container .item {
  width: 520px;
}

@media screen and (max-width: 991px) {
  .works-culture-wrapper .container .item {
    margin: 0 auto;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 575px) {
  .works-culture-wrapper .container .item {
    width: 100%;
  }
}

.works-culture-wrapper .container .item h2 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: ExtraBold;
  padding-bottom: 30px;
}

@media screen and (max-width: 575px) {
  .works-culture-wrapper .container .item h2 {
    font-size: 28px;
  }
}

.works-culture-wrapper .container .item .item-text-lead {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "遊ゴシック体";
}

.works-culture-wrapper .container .works {
  margin-right: 60px;
}

@media screen and (max-width: 991px) {
  .works-culture-wrapper .container .works {
    margin-right: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .works-culture-wrapper .container .culture {
    padding-bottom: 40px;
  }
}

.latest-topic .container {
  padding-left: 30px;
  padding-bottom: 60px;
  padding-right: 30px;
}

@media screen and (max-width: 991px) {
  .latest-topic .container {
    padding-bottom: 40px;
  }
}

.latest-topic .container h2 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: ExtraBold;
  margin-bottom: 32px;
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
  .latest-topic .container h2 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 575px) {
  .latest-topic .container h2 {
    font-size: 28px;
  }
}

.latest-topic .container .latest-topic-item-wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: 30px;
}

@media screen and (max-width: 991px) {
  .latest-topic .container .latest-topic-item-wrapper {
    width: 100%;
  }
}

.latest-topic .container .latest-topic-item-wrapper .latest-topic-item {
  margin-bottom: 32px;
}

.latest-topic .container .latest-topic-item-wrapper .latest-topic-item .date {
  font-size: 10px;
  font-family: "Montserrat Medium";
  font-weight: bold;
  color: #cecece;
  margin-bottom: 13px;
}

.latest-topic .container .latest-topic-item-wrapper .latest-topic-item .topic-text {
  font-family: "遊ゴシック体";
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ececec;
  padding-bottom: 12px;
}

@media screen and (max-width: 575px) {
  .latest-topic .container .latest-topic-item-wrapper .latest-topic-item .topic-text {
    font-size: 12px;
  }
}

.latest-topic .container .btn {
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .latest-topic .container .btn {
    margin: 0 auto;
  }
}

.contact {
  padding-top: 60px;
  background-color: #f2f2f2;
}

.contact .container {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 120px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 991px) {
  .contact .container {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 575px) {
  .contact .container {
    padding-bottom: 40px;
  }
}

.contact .container .contact-img {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .contact .container .contact-img {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .contact .container .contact-img {
    width: 85%;
  }
}

@media screen and (max-width: 575px) {
  .contact .container .contact-img {
    width: 100%;
  }
}

.contact .container .contact-text-item {
  width: 440px;
  padding-top: 40px;
  margin-right: 50px;
}

@media screen and (max-width: 991px) {
  .contact .container .contact-text-item {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .contact .container .contact-text-item {
    width: 85%;
  }
}

@media screen and (max-width: 575px) {
  .contact .container .contact-text-item {
    width: 100%;
  }
}

.contact .container .contact-text-item h2 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: ExtraBold;
}

@media screen and (max-width: 575px) {
  .contact .container .contact-text-item h2 {
    font-size: 28px;
  }
}

.contact .container .contact-text-item .contact-text {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "遊ゴシック体";
  line-height: 32px;
}

footer {
  background-color: #525252;
  padding-top: 21px;
  padding-bottom: 19px;
}

footer .copyright {
  color: white;
  text-align: center;
  font-size: 10px;
}

.about-top {
  width: 100%;
  margin: 0 auto;
}

.about-top .container {
  position: relative;
  max-width: 100%;
}

.about-top .container .about-top-image {
  position: absolute;
  width: 1100px;
  height: 640px;
  z-index: 2;
  background-image: url(../img/heading-img1.png);
}

@media screen and (max-width: 991px) {
  .about-top .container .about-top-image {
    width: 587px;
    height: 529px;
    background-image: url(../img/heading-img.png);
  }
}

@media screen and (max-width: 575px) {
  .about-top .container .about-top-image {
    width: 287px;
    height: 387px;
    background-image: url(../img/heading-img.png);
    background-position: 60% 30%;
  }
}

.about-top .container .about-top-background-color {
  width: 50%;
  height: 464px;
  background-color: #000;
  margin-left: auto;
  position: relative;
}

@media screen and (max-width: 991px) {
  .about-top .container .about-top-background-color {
    width: 70%;
    height: 615px;
  }
}

@media screen and (max-width: 575px) {
  .about-top .container .about-top-background-color {
    height: 449px;
    width: 80%;
  }
}

.about-top .container .about-top-background-color .about-top-text-wrapper {
  position: relative;
  z-index: 3;
  color: white;
  top: 30%;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .about-top .container .about-top-background-color .about-top-text-wrapper {
    top: 37%;
    left: 20%;
  }
}

@media screen and (max-width: 575px) {
  .about-top .container .about-top-background-color .about-top-text-wrapper {
    top: 40%;
    left: 0;
    right: 10%;
  }
}

.about-top .container .about-top-background-color .about-top-text-wrapper .about-top-text-lead {
  font-size: 20px;
  font-family: sans-serif;
  padding-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .about-top .container .about-top-background-color .about-top-text-wrapper .about-top-text-lead {
    font-size: 16px;
    font-family: "遊ゴシック";
  }
}

.about-top .container .about-top-background-color .about-top-text-wrapper h1 {
  font-size: 72px;
  font-family: "Montserrat";
  font-weight: ExtraBold;
}

@media screen and (max-width: 991px) {
  .about-top .container .about-top-background-color .about-top-text-wrapper h1 {
    font-size: 52px;
    line-height: 50px;
  }
}

.vision {
  padding-bottom: 264px;
  margin-left: 100px;
  padding-top: 120px;
}

@media screen and (max-width: 991px) {
  .vision {
    padding-top: 80px;
    padding-bottom: 211px;
  }
}

@media screen and (max-width: 575px) {
  .vision {
    margin-left: 0;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.vision .container {
  color: #333;
}

@media screen and (max-width: 575px) {
  .vision .container {
    width: 100%;
    margin: 0 auto;
  }
}

.vision .container h2 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: ExtraBold;
}

.vision .container .vision-lead {
  font-size: 24px;
  font-weight: bold;
  font-family: "遊ゴシック体";
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 575px) {
  .vision .container .vision-lead {
    font-size: 22px;
    padding-top: 37px;
    padding-bottom: 35px;
  }
}

.vision .container .vision-text-wrapper {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 28px;
}

@media screen and (max-width: 575px) {
  .vision .container .vision-text-wrapper {
    font-size: 14px;
  }
}

.vision .container .vision-text-wrapper .vision-text2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.vision .container .vision-text-wrapper .vision-text4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.vision .container .vision-text-wrapper .vision-text5 {
  padding-bottom: 40px;
}

.ceo-message {
  margin-bottom: 120px;
}

@media screen and (max-width: 991px) {
  .ceo-message {
    margin-bottom: 82px;
  }
}

@media screen and (max-width: 575px) {
  .ceo-message {
    margin-bottom: 80px;
  }
}

.ceo-message .container {
  position: relative;
}

.ceo-message .container .ceo-message-img {
  position: absolute;
  width: 420px;
  top: -144px;
}

@media screen and (max-width: 991px) {
  .ceo-message .container .ceo-message-img {
    width: 320px;
    padding-left: 30px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 767px) {
  .ceo-message .container .ceo-message-img {
    margin-left: 0;
  }
}

@media screen and (max-width: 575px) {
  .ceo-message .container .ceo-message-img {
    width: 340px;
    padding-left: 0;
  }
}

.ceo-message .container .ceo-text-wrapper {
  width: 770px;
  padding: 120px 185px 78px;
  background-color: #f0f0f0;
  margin-left: auto;
  margin-right: 30px;
}

@media screen and (max-width: 991px) {
  .ceo-message .container .ceo-text-wrapper {
    width: 494px;
    padding-left: 40px;
    padding-right: 39px;
    margin-right: 110px;
  }
}

@media screen and (max-width: 767px) {
  .ceo-message .container .ceo-text-wrapper {
    margin-right: 30px;
  }
}

@media screen and (max-width: 575px) {
  .ceo-message .container .ceo-text-wrapper {
    width: 90%;
    padding-left: 28px;
    padding-right: 25px;
    margin: 0 auto;
  }
}

.ceo-message .container .ceo-text-wrapper h2 {
  padding-bottom: 30px;
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: ExtraBold;
}

@media screen and (max-width: 575px) {
  .ceo-message .container .ceo-text-wrapper h2 {
    font-size: 31px;
  }
}

.ceo-message .container .ceo-text-wrapper .a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 28px;
}

@media screen and (max-width: 575px) {
  .ceo-message .container .ceo-text-wrapper .a {
    font-size: 14px;
  }
}

.ceo-message .container .ceo-text-wrapper .ceo-text2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ceo-message .container .ceo-text-wrapper .ceo-text4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.company {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 120px;
}

@media screen and (max-width: 991px) {
  .company {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 575px) {
  .company {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.company .container h2 {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: ExtraBold;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.company .container .company-about-wrapper {
  width: 80%;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .company .container .company-about-wrapper {
    width: 100%;
    padding-left: 30px;
  }
}

@media screen and (max-width: 575px) {
  .company .container .company-about-wrapper {
    padding-left: 0;
  }
}

.company .container .company-about-wrapper .company-about-item {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 20px;
}

.company .container .company-about-wrapper .company-about-item .company-text-left {
  font-weight: bold;
  font-family: "遊ゴシック体";
  width: 200px;
}

@media screen and (max-width: 575px) {
  .company .container .company-about-wrapper .company-about-item .company-text-left {
    font-size: 14px;
  }
}

.company .container .company-about-wrapper .company-about-item .company-text-right {
  width: 100%;
  font-family: "遊ゴシック体";
}

@media screen and (max-width: 575px) {
  .company .container .company-about-wrapper .company-about-item .company-text-right {
    font-size: 14px;
  }
}

.contact-top .container .contact-top-image {
  background-image: url(../img/heading-img_contact.png);
}

@media screen and (max-width: 991px) {
  .contact-top .container .contact-top-image {
    background-position: 58% 0;
    height: 580px;
  }
}

@media screen and (max-width: 575px) {
  .contact-top .container .contact-top-image {
    background-position: 70% 0;
  }
}

@media screen and (max-width: 991px) {
  .contact-top .container .contact-top-background-color {
    height: 470px;
  }
}

.contact-wrapper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (max-width: 991px) {
  .contact-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 575px) {
  .contact-wrapper {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contact-wrapper .container .contact-wrapper-text {
  font-family: serif;
  font-size: 15px;
  padding-bottom: 57px;
}

@media screen and (max-width: 991px) {
  .contact-wrapper .container .contact-wrapper-text {
    padding-bottom: 21px;
  }
}

.contact-wrapper .container .contact-radio .contact-radio-title span {
  font-size: 12px;
  background-color: #000;
  color: white;
  padding: 3px 5px;
  margin-left: 10px;
}

.contact-wrapper .container .contact-radio .radio-item {
  margin-top: 23px;
}

.contact-wrapper .container .contact-radio .radio-item br {
  display: none;
}

@media screen and (max-width: 575px) {
  .contact-wrapper .container .contact-radio .radio-item br {
    display: block;
  }
}

.contact-wrapper .container .contact-radio .radio-item label {
  margin-right: 50px;
  cursor: pointer;
}

.contact-wrapper .container .contact-radio .radio-item input {
  cursor: pointer;
}

.contact-wrapper .container .contact-item {
  margin-top: 45px;
}

.contact-wrapper .container .contact-item p {
  margin-bottom: 10px;
}

.contact-wrapper .container .contact-item p span {
  font-size: 12px;
  background-color: #000;
  color: white;
  padding: 3px 5px;
  margin-left: 10px;
}

.contact-wrapper .container .contact-item input {
  width: 100%;
  height: 41px;
  border: #333 solid 1px;
  padding-left: 15px;
}

@media screen and (max-width: 991px) {
  .contact-wrapper .container .contact-item input {
    height: 48px;
  }
}

.contact-wrapper .container .contact-item textarea {
  border: #333 solid 1px;
  width: 100%;
  padding-top: 10px;
  padding-left: 15px;
  height: 212px;
}

.contact-wrapper .container .privacy-policy {
  padding-top: 40px;
}

.contact-wrapper .container .privacy-policy .privacy-policy-text {
  font-family: "Montserrat";
  font-weight: bold;
  padding-bottom: 10px;
}

.contact-wrapper .container .privacy-policy .privacy-policy-wrapper {
  border: #333 solid 1px;
  height: 252px;
  overflow: scroll;
  padding: 10px 10px 0;
}

.contact-wrapper .container .privacy-policy .privacy-policy-wrapper .pri-title {
  padding-bottom: 30px;
}

.contact-wrapper .container .privacy-policy .privacy-policy-wrapper .pri1 {
  padding-bottom: 30px;
}

.contact-wrapper .container .privacy-policy .privacy-policy-wrapper .pri2 {
  padding-bottom: 30px;
}

.contact-wrapper .container .privacy-policy .privacy-policy-wrapper .pri3 {
  padding-bottom: 10px;
}

.contact-wrapper .container .checkbox-wrapper {
  padding-top: 40px;
  text-align: center;
  height: 20px;
  padding-bottom: 43px;
}

.contact-wrapper .container .checkbox-wrapper input {
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.contact-wrapper .container .checkbox-wrapper label {
  cursor: pointer;
  line-height: 20px;
}

.contact-wrapper .container a {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.contact-wrapper .container a button {
  background-color: #000;
  color: white;
  padding: 11px 66px;
  margin: 0 auto;
  text-align: center;
}
